<nav class="navbar navbar-expand-lg navbar-primary bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerlink="">Home</a>
          <a class="nav-link" routerlink="/skill">Skill</a>
          <a class="nav-link" routerlink="/about">About</a>
          <a class="nav-link" routerlink="/contact">Contact</a>
          <a class="nav-link disabled" routerlink="" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>